body {
    margin: 0%;
    background-color: whitesmoke;
}

#mainHeading {
    margin-left: 37%;
    font-family: sans-serif Arial, Helvetica;
}


/* Navbar */

navbar {
    display: flex;
    height: 3.1rem;
    background-color: #273036;
}

navbar ul li {
    list-style: none;
}

navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: sans-serif Arial, Helvetica;
}

navbar ul li a:hover {
    border-bottom: 2px solid white;
}
 navbar #searchTxt{
    height: 0.9rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 49rem;
}
navbar #searchBtn{
    background-color: #273036;
    margin-top: 1rem;
}
#mainHeading{
    font-weight: 100;
    font-family: sans-serif Arial, Helvetica;
}



/* Adding noteTitle design */

#noteTitle {
    margin-left: 0%;
    height: auto;
    width: auto;
    font-weight: 100;
    font-family: sans-serif Arial, Helvetica;
}

#searchBtn {
    height: 1.25rem;
    margin-top: 0.75rem;
    color: white;
    background-color: black;
    font-weight: 100;
    font-family: sans-serif Arial, Helvetica;
}

#searchBtn:hover {
    color: black;
    background-color: white;
    border-radius: 3px solid black;
    position: pointer;
}


/* form Design  */

textarea {
    display: block;
    box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.71);
    font-weight: 100;
    font-family: sans-serif Arial, Helvetica;
}


/* button Design */

#addBtn {
    position: relative;
    margin-top: 3%;
    padding: 0.62rem;
    background: #273036;
    color: white;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 1rem;
    border-radius: 0.625rem;
    font-weight: 100;
    font-family: sans-serif Arial, Helvetica;
}

#addBtn:hover {
    text-decoration: underline solid 2px white;
}

.container {
    display: block;
    height: 40%;
    width: 67%;
    margin: auto;
}
.container h4{
    font-weight: 300;
    font-family: sans-serif Arial, Helvetica;
}

.container-2 {
    display: block;
    height: 70%;
    width: 67%;
    margin: auto;
}
.container-2 h3{
    font-weight: 300;
}

.noteSection {
    display: inline-block;
    height: auto;
    width: 8rem;
    padding: 0.5rem;
    margin: 4px;
    border: 2px solid black;
    font-weight: 100;
    font-family: sans-serif Arial, Helvetica;
}

.deleteBtn {
    background: #273036;
    color: white;
    padding: 0.625rem;
    border-radius: 0.625rem;
    font-weight: 100;
    font-family: sans-serif Arial, Helvetica;
}

.deleteBtn:hover {
    text-decoration: underline solid 2px white;
}
@media (max-width:1530px) {
    navbar #searchTxt{
        margin-left: 40rem;
    }
    #addTxt{
        width: 33rem;
    }
}
@media (max-width:1330px) {
    #addTxt{
        width: 30rem;
    }
    navbar #searchTxt{
        margin-left: 30rem;
    }
    
}
@media (max-width:1110px) {
    navbar #searchTxt{
        margin-left: 25rem;
    }
}
@media (max-width:977px) {
    #addTxt {
        width: 18rem;
        display: flex;
    }
    #mainHeading {
        margin-left: 19%;
    }
    navbar #searchTxt{
        margin-left: 20rem;
    }
}
@media (max-width:870px) {
    navbar #searchTxt{
        margin-left: 15rem;
    }
    
}
@media (max-width:750px) {
    navbar #searchTxt{
        margin-left: 10rem;
    }
}
@media (max-width:650px) {
    navbar #searchTxt{
        margin-left: 5rem;
    }
}
@media (max-width:550px) {
    navbar #searchTxt{
        margin-left: 3rem;
    }
    #addTxt{
        width: 12rem;
    }
}
@media (max-width:500px) {
    #addTxt{
        width: 12rem;
    }
    navbar #searchTxt{
        margin-left: 1rem;
    }
    #mainHeading {
        margin-left: 10%;
    }
    navbar #searchTxt{
        width: 5rem;
    }
}
@media (max-width:380px) {
    #addTxt {
        width: 12rem;
        display: flex;
    }
    navbar #searchTxt{
        margin-left: 1rem;
    }
}
@media (max-width:435px) {
    navbar #searchTxt{
        margin-left: 0.5rem;
    }
}